.counter-icon-right div:last-child{margin-left:auto}.icons-plus-minus{font-size:34px;border:thin solid #d3d3d3;height:35px;width:48px;display:flex;align-items:center;justify-content:center}.counter-text{font:34px Helvetica Neue,Helvetica,Arial,sans-serif}