<template>
  <q-card v-if="authorized">
    <q-card-section>
      <div class="row q-pb-lg">
        <div class="my-heading">Account</div>
      </div>

      <q-list bordered separator
              :key="item.text"
              v-for="item in dict">
        <q-item clickable v-ripple>
          <q-item-section>
            <div class="row q-col-gutter-md">
              <div class="text-blue">{{ item.txt }}</div>
              <div>{{ item.val }}</div>
            </div>
          </q-item-section>
        </q-item>
      </q-list>
    </q-card-section>
    <q-card-actions align="around" v-if="authorized">
      <q-btn color="primary" @click="logOut">Log Out</q-btn>
      <q-btn color="primary" @click="onDlgChangePassword">Change Password</q-btn>
    </q-card-actions>

    <q-dialog v-model="dlgChangePassword" persistent>
      <q-card style="width: 400px">
        <q-card-section>
          <q-form
            @submit.prevent="onChangePassword"
            class="q-gutter-md"
          >
            <q-input
              filled
              v-model="dlgChangePassword_currentPassword"
              label="Current Password"
              :type="isPwd ? 'password' : 'text'"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Please type something']"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
            <q-input
              filled
              v-model="dlgChangePassword_newPassword"
              label="New Password"
              :type="isPwd2 ? 'password' : 'text'"
              lazy-rules
              :rules="[ val => val && val.length > 0 || 'Please type something']"
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd2 ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd2 = !isPwd2"
                />
              </template>
            </q-input>
            <Error :errorMessage="errorMessage">Test</Error>
            <div>
              <q-btn label="Change" type="submit" color="primary"/>
              <q-btn v-close-popup label="Cancel" color="primary" @click="dlgChangePasswordCancel" flat class="q-ml-sm" />
            </div>
          </q-form>
          <q-separator spaced/>
        </q-card-section>
      </q-card>
    </q-dialog>

  </q-card>
  <div v-else>
      <Login :authorized="authorized" :errorMessage="errorMessage" v-on:authOK="doAuthOK"/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Login from 'components/Login.vue'
import Error from 'components/ErrorForModals.vue'
import Server from '../mixins/Server'

export default {
  components: {
    Login,
    Error
  },
  data () {
    return {
      dlgChangePassword: false,
      dlgChangePassword_currentPassword: '',
      dlgChangePassword_newPassword: '',
      errorMessage: '',
      working: false,
      isPwd: true,
      isPwd2: true
    }
  },
  methods: {
    logOut: function () {
      this.$store.commit('account_unset_info')
      this.errorMessage = ''
    },
    onChangePassword: function () {
      this.working = true
      Server.setPassword(this.dlgChangePassword_currentPassword, this.dlgChangePassword_newPassword)
        .then(r => {
          this.$store.commit('account_unset_info')
          this.$cookies.remove('basicAuth')
          this.working = this.dlgChangePassword = false
          this.errorMessage = 'Password changed. Login again.'
        })
        .catch(error => {
          if (error.response.data.message) {
            this.errorMessage = error.response.data.message
          }
          this.working = false
        })
    },
    dlgChangePasswordCancel: function () {
      this.dlgChangePassword_currentPassword =
        this.errorMessage =
          this.dlgChangePassword_newPassword = ''
    },
    onDlgChangePassword: function () {
      this.dlgChangePassword = true
      this.errorMessage = ''
    },
    doAuthOK: function() {
      setTimeout(function () {
        try {
          window.location.href = '/#/'
        } catch (e) {
          // do nothing
        }
      }, 250)
    }
  },
  computed: {
    ...mapGetters(['account_info', 'authorized']),
    dict: function () {
      return [
        // { txt: 'Email', val: this.account_info.email },
        { txt: 'Subscription Expiration', val: this.account_info.expires },
        { txt: 'Payment ID', val: this.account_info.payid },
        { txt: 'Payment Date', val: this.account_info.paydate }
      ]
    }
  }
}
</script>
