<template>
  <div class="q-pa-sm row items-start q-gutter-sm">
    <q-card>
      <q-card-section>
        <div class="my-heading">What's this app for?</div>
        <p>
          Use this app to track the status for something, or a group of things. In concept, a "channel" is a thing you
          wish to track the status of, and a color/number "flag" would have any meaning you wish, to represent some status.
        </p>
        <p>
          Colored "flags" are used to convey meaning for the status, just as colors on traffic signals convey meaning
          without having words printed on each colored light.
        </p>
        <p>
          Another thing this app has in common with traffic lights, is that just as a traffic light cycles through colors
          in a specific order, the app will also cycle through colors in the order you named them in the <strong>Settings</strong> screen.
        </p>
        <div class="my-heading">Example #1: Medical exam room status tracking</div>
        <p>
          In this scenario, each channel represents a medical exam room or operation room etc, which I want to track statuses for.
          The statuses I want to track for each room (channel) are:
        <ul>
          <li>available (green)</li>
          <li>reserved (yellow)</li>
          <li>in session (red)</li>
          <li>clearing (orange)</li>
          <li>inspection (blue)</li>
        </ul>
        For this, I would go to <strong>Settings</strong> and:
        <ul>
          <li>create a channel for each room using the "Colors" channel type (the channel name is the room ID)</li>
          <li>define the 5 colors I want to cycle through in order to represent my room status (green, yellow, red, orange, blue)</li>
        </ul>
        Then I would simply go back to the <strong>Dashboard</strong> and start managing the statuses of my rooms by cycling them
        through the various status colors.
        </p>
        <div class="my-heading">Example #2: Table status tracking in a restaurant</div>
        <p>
          In this scenario, each channel I define represents a table. In this case, I want to track one of the
          following states for each table (channel):
        <ul>
          <li>occupied</li>
          <li>needs cleaning</li>
          <li>ready</li>
        </ul>
        </p>
        <p>
          Since I already understand that specific colors each represent a status, its really not important what the terms
          are, which I choose to use for each status. As long as I understand that I want certain colors have specific meaning.
          For example:
        <ul>
          <li>RED = occupied</li>
          <li>YELLOW = needs cleaning</li>
          <li>GREEN = ready</li>
        </ul>
        </p>
        <p>
          To make this app work for me, I simply need to go to <strong>Settings</strong> and:
        <ul>
          <li>create a channel for each table using the "Colors" channel type (the channel name is the table number)</li>
          <li>define the 3 colors I want to cycle through in order (red, yellow, green)</li>
        </ul>
        Then I would simply go back to the <strong>Dashboard</strong> and start managing the statuses of my tables
        by clicking on the button for any table, to change its status (color).
        </p>
        <div class="my-heading">Counters</div>
        <p>

          In addition to being able to use colors to track statuses, you can also create "Counter" channel to keep
          count of something. For example to keep count of how many people are waiting in the lobby to be seated.
          Counters can't go lower than zero.
        </p>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  // name: 'PageIndex'
}
</script>
