<template>
  <q-card v-if="authorized">
    <q-card-section>
      <Channels/>
    </q-card-section>
  </q-card>

  <span v-else>{{ $router.push('/account') }}</span>

</template>

<script>
import { mapGetters } from 'vuex'
import Channels from 'components/Channels.vue'
export default {
  computed: {
    ...mapGetters(['authorized'])
  },
  components: {
    Channels
  }
}
</script>
