<template>
  <q-card v-if="authorized">
    <q-card-section>
        <div class="row toggle-button-right">
          <div class="my-heading">Setup your dashboard</div>
          <div>
            <q-card-actions>
              <div><q-btn color="primary" @click="toggleDarkMode">Toggle Dark Mode</q-btn></div>
            </q-card-actions>
          </div>
        </div>
    </q-card-section>

    <AddChannel/>
    <RemoveChannel/>
    <SettingsColorCycle/>

  </q-card>

  <span v-else>{{ $router.push('/account') }}</span>

</template>

<script>
import { mapGetters } from 'vuex'
import AddChannel from 'components/SettingsAdd.vue'
import RemoveChannel from 'components/SettingsRemove.vue'
import SettingsColorCycle from 'components/SettingsColorCycle.vue'
export default {
  data () {
    return {
      errorMessage: 'Test'
    }
  },
  components: {
    AddChannel,
    RemoveChannel,
    SettingsColorCycle
  },
  computed: {
    ...mapGetters(['authorized'])
  },
  methods: {
    toggleDarkMode: function() {
      this.$q.dark.toggle()
    }
  }
}
</script>

<style>
  .toggle-button-right div:last-child {
    margin-left: auto;
  }
</style>
