<template>
  <q-card-section>
      <div class="row">
          <div v-for="(chan) in channelData" :key="chan.name">

            <div class="q-pr-xl q-pt-sm text-center justify-evenly">

              <!-- color -->
              <q-avatar
                v-if="chan.type==='color'"
                round
                style="width: 100px; height: 100px"
                :key="chan.name"
                :color="channelColor(chan.name)"
                @click="changeChannelValue(`${chan.name}`, true)"
                class="shadow-6"
              >
                <q-badge floating v-if="chan.icon">
                  <q-icon :name="chan.icon" size="md"/>
                </q-badge>
              </q-avatar>

              <!-- counter -->
              <div v-if="chan.type==='counter'"
                   class="rounded-borders"
                   style="width: 110px; height: 100px">
                <div class="row counter-icon-right">
                  <div><q-icon :name="chan.icon" size="md"/></div>
                </div>
                <div class="counter-text">
                  {{ chan.val }}
                </div>
                <div class="justify-around row text-blue">
                  <q-btn class="rounded-borders icons-plus-minus" icon="arrow_drop_up"
                         @click="changeChannelValue(`${chan.name}`, true)"/>
                  <q-btn class="rounded-borders icons-plus-minus" icon="arrow_drop_down"
                         @click="changeChannelValue(`${chan.name}`, false)"/>
                </div>
              </div>

              <!-- name and label -->
              <div class="q-pt-md" style="cursor: pointer"
                   @click="openConfig(`${chan.name}`)">
                <div class="text-body1 text-bold">{{chan.name}}</div>
                <div class="text-blue">{{chan.label}}</div>
              </div>
            </div>
          </div>

      </div>
      <!-- no data -->
      <div class="row" v-if="(!(channelData || false)) || channelData.length === 0">
        <div class="q-pa-md">
          <div class="q-gutter-md row items-center">
            <div>
              <q-spinner-cube size="xl" color="primary"/>
            </div>
            <div>Waiting ...</div>
          </div>
        </div>
      </div>

    <!-- channel configuration dialog -->
    <ChannelConfig
      v-if="dlgConfChannel"
      v-on:onCloseConfig="onCloseConfig"
      v-bind:confChannel_name="confChannel_name"
    />

  </q-card-section>

</template>

<script>
import { mapGetters } from 'vuex'
import ChannelConfig from 'components/ChannelConfig.vue'

export default {
  components: {
    ChannelConfig
  },
  computed: {
    ...mapGetters(['colorCycles', 'channelData', 'channelColor', 'account'])
  },
  data () {
    return {
      errorMessage: '',
      confChannel_name: '',
      working: false,
      dlgConfChannel: false
    }
  },
  methods: {
    changeChannelValue: function(chName, up) {
      this.$store.dispatch('moveChannelValue', { name: chName, incr: up === true })
    },
    openConfig: function(name) {
      this.confChannel_name = name
      this.dlgConfChannel = true
    },
    onCloseConfig: function(event) {
      this.dlgConfChannel = false
    }
  }
}
</script>

<style>
  .counter-icon-right div:last-child {
    margin-left: auto;
  }
  .icons-plus-minus {
    font-size: 34px;
    border: lightgrey thin solid;
    height: 35px;
    width: 48px;
    /* flex box centering */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .counter-text {
    font: 34px "Helvetica Neue", Helvetica, Arial, sans-serif
  }
</style>
