<template>
  <q-dialog persistent v-model="showDialog">
    <q-card style="width: 400px">
      <q-card-section>
        <q-form
          @submit.prevent="onConfigChannel"
          @reset="cancelConfigChannel"
          class="q-gutter-md"
        >
          <q-input label="Label:" filled v-model="confChannel_label"/>
          <q-input label="Icon:" filled v-model="confChannel_icon">
            <template v-slot:append>
              <q-icon name="cancel" @click="confChannel_icon = ''"/>
            </template>
          </q-input>
          <q-icon-picker
            v-model="confChannel_icon"
            :icons="icon_options"
            style="height: 150px;"
          />
          <q-card-actions align="around">
            <q-btn color="primary" type="submit">Save</q-btn>
            <q-btn color="primary" type="reset">Cancel</q-btn>
          </q-card-actions>
        </q-form>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import Server from '../mixins/Server'
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['colorCycles', 'channelData'])
  },
  props: {
    confChannel_name: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      showDialog: true,
      icon_options: [],
      confChannel_label: '',
      confChannel_icon: ''
    }
  },
  mounted() {
    const iconNames = [
      'assignment', 'assignment_turned_in', 'account_box', 'call', 'flag', 'bookmark',
      'build', 'cached', 'change_history', 'favorite', 'grade', 'help', 'home',
      'hourglass_full', 'pets', 'report', 'healing', 'notifications', 'accessible',
      'schedule', 'thumb_down', 'thumb_up', 'visibility', 'airline_seat_flat'
    ]
    const options = []
    iconNames.forEach(item => {
      options.push({ name: item })
    })
    this.icon_options = options
    this.showDialog = true
    this.confChannel_label = this.channelData[this.confChannel_name].label
    this.confChannel_icon = this.channelData[this.confChannel_name].icon
  },
  methods: {
    cancelConfigChannel: function() {
      this.$emit('onCloseConfig', { changed: false })
    },
    onConfigChannel: function() {
      Server.setChannel(
        this.confChannel_name,
        null,
        this.confChannel_label,
        this.confChannel_icon
      ).then(r => {
        this.$store.commit('setChannelLabelAndIcon', {
          name: this.confChannel_name,
          label: this.confChannel_label,
          icon: this.confChannel_icon
        })
        this.$emit('onCloseConfig', { changed: true })
      })
    }
  }
}
</script>
