<template>
  <div class="q-pa-sm row items-start q-gutter-sm">
    <q-dialog v-model="confirm" persistent>
      <q-card style="width: 400px">
        <q-card-section v-if="!authenticating">
          <div>
            <q-form
              @submit.prevent="onSubmit"
              @reset="onReset"
              class="q-gutter-md"
            >

              <q-input
                filled
                v-model.lazy="email"
                label="Email"
                type="email"
                hint="Email used when paying for your subscription"
                lazy-rules
                :rules="[ val => val && val.length > 6 || 'Please type something']"
              />

              <q-input
                filled
                v-model.lazy="password"
                label="Password"
                :type="isPwd ? 'password' : 'text'"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Please type something']"
              >
                <template v-slot:append>
                  <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                  />
                </template>
              </q-input>

              <q-input
                filled
                v-model.lazy="account"
                label="Account"
                hint="Account domain"
                lazy-rules
                :readonly="serverAccountDomain.length > 0"
                :rules="[ val => val && val.length > 2 || 'Please type something']"
              />

              <Error :errorMessage="authenticationError"/>
              <div>
                <q-btn label="Login" type="submit" color="primary"/>
                <q-btn label="Clear" type="reset" color="primary" class="q-ml-lg" />
              </div>
            </q-form>
            <div class="q-py-md text-center text-body1">
              Dont have a subscription?<br>
              <a href="https://www.statusflags.com//contact">Contact us!</a>
            </div>
          </div>
        </q-card-section>
        <q-card-section v-else>
          <WorkingSpinner/>
        </q-card-section>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>
import WorkingSpinner from 'components/WorkingSpinner.vue'
import Error from 'components/ErrorForModals.vue'
import Server from '../mixins/Server'

export default {
  components: {
    WorkingSpinner,
    Error
  },
  props: {
    errorMessage: {
      type: String
    }
  },
  data () {
    return {
      account: '',
      serverAccountDomain: '',
      email: '',
      password: '',
      isPwd: true,
      confirm: true,
      authenticating: false,
      authenticationError: ''
    }
  },
  mounted () {
    Server.getHealth().then(r => {
      this.authenticating = true
      const sessID = Server.getSessionID() || ''
      if (sessID.length && Server.constants.acctDomain) {
        Server.sseInit()
        this.$store.dispatch('refreshAccountInfo')
      } else {
        this.$store.commit('account_unset_info')
      }
      this.authenticating = false
      // todo: handle unhealthy server status
    })
    // set the account domain
    this.serverAccountDomain = Server.constants.acctDomain
    if (Server.constants.acctDomain) {
      this.account = Server.constants.acctDomain
    }
  },
  methods: {
    onSubmit: function () {
      this.authenticating = true
      console.log('switch account domain to ' + this.account)
      Server.constants.acctDomain = this.account
      Server.doLogin(this.email, this.password)
        .then(r => {
          this.$emit('authOK')
          Server.setSessionID(r.data.message)
          Server.sseInit()
          this.$store.dispatch('refreshAccountInfo')
          this.authenticating = false
        })
        .catch(error => {
          console.log(error)
          if (error.response.data.message) {
            this.authenticationError = error.response.data.message
          }
          Server.deleteSession()
          this.authenticating = false
        })
    },
    onReset: function () {
      this.email = ''
      this.password = ''
      this.authenticationError = ''
    }
  }
}
</script>
