<template>
  <q-card-section>
    <q-list bordered separator align="top" :class=" $q.dark.isActive ? 'bg-blue-grey-14' : 'bg-light-green-1'">
      <q-item>
        <q-item-section>
          <q-item-label>
            <div class="text-body1 text-weight-bold">Add a channel</div>
            <template v-slot:prepend>
              <q-icon name="note_add" />
            </template>
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item clickable v-ripple>
        <q-item-section class="q-mb-md" style="width: 300px">
          <q-input bottom-slots v-model="addChannelName" label="Name:"
                   :rules="[ val => val && val.length > 0 || 'Please type something']">
            <template v-slot:hint>
              A "channel" is something you want to track.<br>
              This must be a unique name.
            </template>
          </q-input>
        </q-item-section>

        <q-separator vertical class="q-mx-md"/>

        <q-item-section>
          <div class="text-body1">Type of channel to add:</div>
          <div class="q-pa-md">
            <q-radio v-model="addChannelType" val="color" label="Color" class="q-mr-lg"/>
            <q-radio v-model="addChannelType" val="counter" label="Counter" />
          </div>
        </q-item-section>
      </q-item>
      <q-separator/>


      <q-card-actions align="right">
        <div class="row q-mr-lg">
          <WorkingSpinner v-if="working"/>
          <div class="text-negative">{{ errorMessage }}</div>
          <div class="text-positive">{{ successMessage }}</div>
        </div>
        <q-btn @click="onAdd" color="primary">Add It</q-btn>
      </q-card-actions>
    </q-list>

  </q-card-section>
</template>

<script>
import WorkingSpinner from 'components/WorkingSpinner.vue'
import Server from '../mixins/Server'

export default {
  components: {
    WorkingSpinner
  },
  data () {
    return {
      addChannelName: '',
      addChannelType: 'color',
      errorMessage: '',
      successMessage: '',
      working: false
    }
  },
  methods: {
    onAdd: function () {
      if (this.addChannelName.trim() === '') {
        this.errorMessage = 'Channel name is required'
        return
      }
      this.working = true
      this.errorMessage = ''
      Server.makeChannel(this.addChannelName, this.addChannelType)
        .then(r => {
          this.successMessage = 'Added channel named:  ' + this.addChannelName
        })
      this.working = false
    }
  }
}
</script>
