<template>
  <q-card-section>
    <q-list bordered separator align="top"  :class=" $q.dark.isActive ? 'bg-deep-purple-10' : 'bg-deep-orange-1'">
      <q-item>
        <q-item-section>
          <q-item-label>
            <div class="text-body1 text-weight-bold">Remove channels</div>
            <template v-slot:prepend>
              <q-icon name="note_add" />
            </template>
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section>
          <div class="row">
            <div v-for="ch in channelNames" v-bind:key="ch">
              <q-item class="q-mr-sm">
                <q-checkbox left-label v-model="removeChannels" :val="ch" :label="ch" />
              </q-item>
            </div>
          </div>
        </q-item-section>
      </q-item>

      <q-separator/>
      <q-card-actions align="right">
        <div class="row q-mr-lg">
          <WorkingSpinner v-if="working"/>
          <div class="text-negative">{{ errorMessage }}</div>
          <div class="text-positive">{{ successMessage }}</div>
        </div>
        <q-btn @click="onRemove" color="primary">Remove</q-btn>
      </q-card-actions>
    </q-list>

  </q-card-section>
</template>
<script>
import { mapGetters } from 'vuex'
import Server from '../mixins/Server'

export default {
  computed: {
    ...mapGetters(['channelNames'])
  },
  data () {
    return {
      removeChannels: [],
      errorMessage: '',
      successMessage: '',
      working: false
    }
  },
  mounted() {
    this.working = true
    this.errorMessage = ''
    this.working = false
  },
  methods: {
    onRemove: function () {
      this.working = true
      this.successMessage = this.errorMessage = ''
      Server.deleteChannels(this.removeChannels)
        .then(r => {
          this.working = true
          Server.getAllChannelData()
          this.successMessage = 'Done'
          this.working = false
        })
        .catch(error => {
          if (error.response.data.message) {
            this.errorMessage = error.response.data.message
          }
        })
      this.working = false
    }
  }
}
</script>
