<template>
  <q-card-section>
    <q-list bordered separator align="top" :class=" $q.dark.isActive ? 'bg-blue-grey-10' : 'bg-light-blue-1'">
      <q-item>
        <q-item-section>
          <q-item-label>
            <div class="text-body1 text-weight-bold">Color Cycle</div>
            <template v-slot:prepend>
              <q-icon name="note_add" />
            </template>
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-item clickable v-ripple>
        <q-item-section class="q-mb-md" style="width: 300px">
          <q-select
            use-chips
            v-model="colorCyclesInput"
            multiple
            :options="colorCyclesOptions"
            style="width: 500px"
          />
        </q-item-section>
      </q-item>

      <q-separator/>
      <q-card-actions align="right">
        <div class="row q-mr-lg">
          <WorkingSpinner v-if="working"/>
          <div class="text-negative">{{ errorMessage }}</div>
          <div class="text-positive">{{ successMessage }}</div>
        </div>
        <q-btn @click="onSave" color="primary">Save</q-btn>
      </q-card-actions>
    </q-list>

  </q-card-section>
</template>
<script>
import Server from '../mixins/Server'
import WorkingSpinner from 'components/WorkingSpinner.vue'
import { mapGetters } from 'vuex'
export default {
  components: {
    WorkingSpinner
  },
  computed: {
    ...mapGetters(['colorCycle'])
  },
  data () {
    return {
      colorCyclesInput: [],
      colorCyclesOptions: ['Red', 'Blue', 'Green', 'Yellow', 'Orange', 'Purple',
        'Cyan', 'Pink', 'Brown', 'Grey', 'Lime', 'White'],
      errorMessage: '',
      successMessage: '',
      working: false
    }
  },
  mounted() {
    const tmp = []
    this.colorCycle.split(',').forEach(function(color) {
      if (color === 'pink-2') {
        tmp.push('Pink')
      } else if (color === 'red-10') {
        tmp.push('Red')
      } else if (color === 'cyan-2') {
        tmp.push('Cyan')
      } else {
        tmp.push(color.charAt(0).toUpperCase() + color.slice(1))
      }
    })
    this.colorCyclesInput = tmp
  },
  methods: {
    /*
      Color Cycles are simply saved as another channel using a reserved string for the channel name
     */
    onSave: function () {
      this.working = true
      this.successMessage = this.errorMessage = ''
      const colorsArr = []
      this.colorCyclesInput.forEach(function (color) {
        // pink swap
        if (color === 'Pink') {
          colorsArr.push('pink-2')
        } else if (color === 'Red') {
          colorsArr.push('red-10')
        } else if (color === 'Cyan') {
          colorsArr.push('cyan-2')
        } else {
          colorsArr.push(color.toLowerCase())
        }
      })
      if (colorsArr.length < 2) {
        this.errorMessage = 'At least 2 colors are required'
      } else {
        Server.setChannel(
          Server.constants.reservedChannelNames.colorCycle,
          colorsArr.join(',')
        ).then(r => {
          this.successMessage = 'Saved'
          this.$store.commit('setColorCycles', colorsArr.join(','))
        })
      }
      this.working = false
    }
  }
}
</script>
