<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          Status Flags .com
        </q-toolbar-title>

        <div></div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      :content-class="this.$q.dark.isActive ? '' : 'bg-grey-1'"
    >
      <q-list>
        <q-item-label
          header
          :class="this.$q.dark.isActive ? '' : 'text-grey-8'"
        >
          Navigation Slide
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'

export default {
  name: 'MainLayout',

  components: {
    EssentialLink
  },

  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: [
        {
          title: 'Flags',
          caption: 'Status flags overview',
          icon: 'apps',
          link: '/#/'
        },
        {
          title: 'Account',
          caption: 'Subscription info',
          icon: 'vpn_key',
          link: '/#/account'
        },
        {
          title: 'Setup',
          caption: 'Setup your dashboard',
          icon: 'settings',
          link: '/#/settings'
        },
        {
          title: 'Help',
          caption: 'Read documentation',
          icon: 'help',
          link: '/#/help'
        }
      ]
    }
  }
}
</script>
